.warriors {
    background-image: url(../images/warriors.png);
}

.agriculture {
    background-image: url(../images/agriculture.png);
}

.bronze {
    background-image: url(../images/bronze.png);
}

.philosophy {
    background-image: url(../images/philosophy.png);
}

.religion {
    background-image: url(../images/religion.png);
}

.despotism {
    background-image: url(../images/despotism.png);
}

.theocracy {
    background-image: url(../images/theocracy.png);
}

.alexanderthegreat {
    background-image: url(../images/alexander-the-great.png);
}

.juliuscaesar {
    background-image: url(../images/julius-caesar.png);
}

.homer {
    background-image: url(../images/homer.png);
}

.moses {
    background-image: url(../images/moses.png);
}

.hammurabi {
    background-image: url(../images/hammurabi.png);
}

.aristotle {
    background-image: url(../images/aristotle.png);
}

.pyramids {
    background-image: url(../images/pyramids.png);
}

.libraryofalexandria {
    background-image: url(../images/library-of-alexandria.png);
}

.hanginggardens {
    background-image: url(../images/hanging-gardens.png);
}

.colossus {
    background-image: url(../images/colossus.png);
}

.culturalheritage0 {
    background-image: url(../images/cultural-heritage-a.png);
}

.engineeringgenius0 {
    background-image: url(../images/engineering-genius-a.png);
}

.frugality0 {
    background-image: url(../images/frugality-a.png);
}

.richland0 {
    background-image: url(../images/rich-land-a.png);
}

.urbangrowth0 {
    background-image: url(../images/urban-growth-a.png);
}

.stockpile0 {
    background-image: url(../images/stockpile.png);
}

.patriotism0 {
    background-image: url(../images/patriotism-a.png);
}

.swordsmen {
    background-image: url(../images/swordsmen.png);
}