.ttaContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5px;
    background-color: #ffe6e6;
}

.boardContainer {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 60%;
}

.board {
    width: 100%;
    height: 100%;
    position: relative;
    /* background: lightblue; */
}

.left {
    position: relative;
    left: 0;
    height: 100%;
    width: 225px;
    /* background: pink; */
    display: inline-block;
}

.middle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 450px);
    height: 100%;
    margin: 0 -4px;
}

.right {
    height: 100%;
    width: 225px;
    position: relative;
    right: 0;
    /* background: pink; */
    display: inline-block;
    vertical-align: top;
}

.tableau {
    position: relative;
    /* background: #e6e6e6; */
    height: calc(100% - 225px);
    vertical-align: top;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
    /* background: lightgoldenrodyellow; */
    height: 225px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.banks {
    display: inline-block;
    margin-top: 25px;
}

.government {
    margin-left: 3px;
    display: inline-block;
    vertical-align: bottom;
}

.ratingsAndLeader {
    background: lightgreen;
    width: 100%;
    padding: 5px 0;
}

.tactics {
    background: #800000;
    width: 100%;
    padding: 5px 0;
}

.wonders {
    background: lightseagreen;
}