<div class="ttaContainer">
  <cardrow></cardrow>
  <div class="boardContainer">
      <div class="board">
          <div class="left">
              <div class="ratingsAndLeader">
                  <ratings></ratings>
                  <leader></leader>
              </div>
              <div class="tactics">
                  <tactics></tactics>
              </div>
          </div>
          <div class="middle">
              <div class="tableau">
                  <military-techs></military-techs>
                  <brown-techs></brown-techs>
                  <urban-buildings></urban-buildings>
              </div>
              <div class="bottom">
                  <div class="banks">
                      <bluebank></bluebank>
                      <worker-pool></worker-pool>
                      <yellowbank></yellowbank>
                  </div>
                  <div class="government">
                      <government></government>
                  </div>
              </div>
          </div>
          <div class="right">
              <div class="wonders">
                  <wonders></wonders>
              </div>
          </div>
      </div>
  </div>

</div>